body {
  overflow: hidden;
}

section {
  margin-top: 50px;
  margin-left: -20px;
}

.material-icons-hover:hover {
  cursor: pointer;
  background: red;
  color: white;
}

.catalogue-container {
  padding-top: 100px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  row-gap: 150px;
  transition: all 1s ease;
}

.exercise-container {
  scale: 1;
  pointer-events: none;
  transition: all 1s ease;
}

.exercise-card {
  pointer-events: auto;
  height: 450px;
  width: 490px;
  object-position: center;
  aspect-ratio: 1;

  clip-path: path(
    "M 0 427 l 55 0 C 70 393.667 90 360.333 110 327 L 200 327 l 0 20 L 120 347 L 78 427 L 100 427 L 130 367 L 220 367 L 220 387 L 140 387 L 120 427 L 290 427 C 350 287 410 147 470 7 L 200 7 L 180 47 L 240 47 L 230 67 L 170 67 L 160 87 L 270 87 L 260 107 L 160 107 L 140 147 Z"
  );

  transition: all 1s ease;
  filter: grayscale();
  transform: scale(1.25);
}

.exercise-title {
  pointer-events: auto;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 70px;
  right: 5px;
  color: white;
  background-color: darkred;
  font-size: 35px;
  transform: rotate(-65deg);
  transition: all 1s ease;
}

.exercise-list {
  top: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(2000px) translateY(100px);
  height: 580px;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 1.1s ease;
  border: solid 2px black;
  border-radius: 20px;
}

.exercise-list-bg {
  position: absolute;

  height: 580px;
  width: 1000px;
  background-image: url("https://img.freepik.com/free-vector/red-background-curve_2065-107.jpg?t=st=1712906512~exp=1712910112~hmac=5e69302d52ff62f6d0d0226b1195f54cb7e8b0e31bf7b3e59fb5dcf07e3f0a03&w=740");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.exercise-list-container {
  z-index: 1;

  margin-left: -20px;
  padding: 10px;
  height: 550px;
  width: 930px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  gap: 20px;
}

.exercise-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 250px;
  height: 280px;
  padding: 10px;
  background: white;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 1s ease;
}

.exercise-info {
  margin-top: 65px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateX(500px);
  transition: all 1s ease;
}

.card-title {
  font-size: 19px;
  letter-spacing: -1px;
  line-height: 100%;
  text-align: center;
}

.card-front {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.card-back {
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 130%;
  word-spacing: 1px;
  font-style: oblique;
}

.exercise-list-card:hover {
  z-index: 2;
  scale: 1.3;
  cursor: pointer;
}

.exercise-container:nth-child(even) > .exercise-card {
  clip-path: path(
    "M 0 427 l 55 0 C 70 393.667 90 360.333 110 327 L 120 347 L 78 427 L 100 427 L 130 367 L 140 387 L 120 427 L 290 427 C 350 287 410 147 470 7 L 200 7 L 180 47 L 241 47 L 295 15 L 329 15 L 250 67 L 170 67 L 160 87 L 270 87 L 346 33 L 382 33 L 283 107 L 253 107 L 160 107 L 140 147 Z"
  );
}

.exercise-card:hover {
  filter: none;
}

.exercise-container:hover {
  scale: 1.15;
  cursor: pointer;
}
