body {
  overflow: hidden;
}

select {
  font-size: 16px;
  font-family: "Electrolize", sans-serif;
}

.setup-container {
  margin-top: 50px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 87%;
  height: 500px;
}

.routine-setup-box {
  position: absolute;
  background: rgb(247, 247, 247);
  background: radial-gradient(
    circle,
    rgba(247, 247, 247, 1) 52%,
    rgba(231, 228, 228, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 620px;
  width: 700px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 20px;
  transition: all 1s ease-in-out;
}

.setup-prompt {
  text-align: center;
  font-family: "Electrolize", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.setup-info-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: rgb(255, 238, 238);
  background: radial-gradient(
    circle,
    rgba(255, 238, 238, 1) 52%,
    rgba(209, 180, 180, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  border: 1px solid gray;
}

.setup-info {
  text-indent: -102px;
  padding-left: 102px;
  font-family: "Electrolize", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 130%;
  word-spacing: 1.5px;
  letter-spacing: 0.3px;
}

.setup-button-container {
  padding: 15px;
  margin-top: -20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.setup-button {
  padding: 15px;
  background: rgb(185, 10, 10);
  background: radial-gradient(
    circle,
    rgba(185, 10, 10, 0.6195728291316527) 0%,
    rgba(194, 32, 32, 1) 33%,
    rgba(139, 0, 0, 1) 85%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  font-family: "Electrolize", sans-serif;
  font-size: 32px;
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.setup-button:hover {
  cursor: pointer;
  background: rgb(234, 84, 84);
  background: radial-gradient(
    circle,
    rgba(234, 84, 84, 1) 0%,
    rgba(210, 33, 55, 1) 51%,
    rgba(154, 17, 17, 1) 100%
  );
  scale: 1.15;
}

.setup-button:active {
  transform: translateY(10px);
  box-shadow: 0 5px #666;
}

.exercise-setup {
  display: flex;
  flex-direction: row;
  position: absolute;
  background: rgb(247, 247, 247);
  background: radial-gradient(
    circle,
    rgba(247, 247, 247, 1) 52%,
    rgba(231, 228, 228, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 620px;
  width: 1200px;
  border-radius: 4px;
  border: 1px solid gray;
  transform: translateX(1500px);
  transition: all 1s ease-in-out;
  gap: 10px;
}

.day-select {
  display: flex;
  flex-direction: column;
  height: 101%;
  margin-top: -5px;
  margin-left: -5px;
  width: 30%;
  background: rgb(234, 84, 84);
  background: radial-gradient(
    circle,
    rgba(234, 84, 84, 1) 0%,
    rgba(210, 33, 55, 1) 51%,
    rgba(154, 17, 17, 1) 100%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border: 2px solid gray;
  border-radius: 5px;
}

.exercise-select {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: inherit;
  width: 70%;
  padding: 20px 50px 50px 20px;
  gap: 12px;
}

.exercise {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Electrolize", sans-serif;
  color: black;
}

.exercise-number {
  color: white;
  border: 1px solid black;
  background: rgb(234, 84, 84);
  background: radial-gradient(
    circle,
    rgba(234, 84, 84, 1) 0%,
    rgba(210, 33, 55, 1) 51%,
    rgba(182, 0, 0, 1) 100%
  );
  padding: 7px 12px 12px 12px;
  margin-right: 5px;
  font-size: 18px;
  font-style: oblique;
  font-weight: bold;
  border-radius: 100%;
}

.exercise-top {
  clip-path: polygon(0 0, 94% 0, 100% 100%, 3% 100%);
  width: 600px;
  height: 36px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 30px;
  background: rgb(247, 245, 245);
  background: radial-gradient(
    circle,
    rgba(247, 245, 245, 1) 30%,
    rgba(226, 226, 226, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.exercise-bottom {
  clip-path: polygon(0 0, 94% 0, 100% 100%, 3% 100%);
  margin-left: 120px;
  width: 560px;
  height: 36px;
  padding: 2px;
  padding-bottom: -5px;
  padding-left: 20px;
  background: rgb(234, 84, 84);
  background: radial-gradient(
    circle,
    rgba(234, 84, 84, 1) 0%,
    rgba(210, 33, 55, 1) 51%,
    rgba(182, 0, 0, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 10px;
}

.catalogue-button {
  position: relative;
  color: white;
  font-family: "Electrolize", sans-serif;
  font-weight: bold;
  font-style: oblique;
  letter-spacing: 0.5px;
  background: rgb(185, 10, 10);
  background: radial-gradient(
    circle,
    rgba(185, 10, 10, 0.6195728291316527) 0%,
    rgba(194, 32, 32, 1) 33%,
    rgba(139, 0, 0, 1) 85%
  );
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  transition: all 1s ease;
}

.catalogue-button:hover {
  cursor: pointer;
  letter-spacing: 0.6px;
  background: rgb(222, 35, 35);
}

.catalogue-button:active {
  background: rgb(218, 67, 67);
  box-shadow: 0 5px #5d5d5d;
  transform: translateY(8px);
}

.confirm-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
}

.back-button {
  position: absolute;
  bottom: 20px;
  right: 200px;
  font-size: 20px;
}

.day {
  background-color: rgba(252, 43, 47, 0.3);
  color: white;
  font-family: "Electrolize", sans-serif;
  padding: 10px 10px 10px 25px;
  font-size: 32px;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: -1px;
  border-bottom: solid 0.5px white;
  transition: all 0.5s ease;
}

.rest-day {
  background-color: rgba(75, 18, 19, 0.542);
  color: white;
  font-family: "Electrolize", sans-serif;
  padding: 10px 10px 10px 25px;
  font-size: 32px;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: -1px;
  border-bottom: solid 0.5px white;
}

.rest-day:hover {
  cursor: not-allowed;
}

.day-selected {
  background-color: rgba(255, 164, 165, 0.8);
  color: white;
  font-family: "Electrolize", sans-serif;
  padding: 20px 10px 20px 50px;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  border-bottom: solid 0.5px white;
  transition: all 0.5s ease;
}

.day:hover {
  cursor: pointer;
  background-color: rgba(255, 179, 180, 0.5);
  letter-spacing: 1px;
  padding-left: 50px;
}
